.container {
  width: 600px;
}

.header {
  width: 100%;
  height: 50px;
  background: aquamarine;
}

.leftmenu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  float: left;
}

.rightmenu {
  width: 80%;
  height: 400px;
  background: coral;
  float: right;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  clear: both;
}
