.ani-text {
  margin: 10px auto;
  border: 1px solid blue;
  width: 26%;
  background-color: yellowgreen;
}

.ani-text:hover {
  animation-name: wa-li-ga-li;
  animation-duration: 2s;
}

.ani-button {
  padding: 15px 20px;
  font-size: 20px;
  background: skyblue;
  color: white;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}

.ani-button:hover {
  animation-name: shake;
  animation-duration: 1s;
}

.ani-x {
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

.ani-x:hover {
  animation-name: Xturn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes wa-li-ga-li {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0px);
  }
  33% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0px);
  }
}

@keyframes Xturn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(2);
  }
}
